    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
		margin-bottom: 0;
		border-radius: 0;
	  }
	  
	  /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
	  .row.content {height: 450px}
	  
	  /* Set gray background color and 100% height */
	  .sidenav {
		padding-top: 20px;
		background-color: #f1f1f1;
		height: 100%;
	  }
	  
	  /* Set black background color, white text and some padding */
	  #bottom {
			background-color: #555;
			color: white;
			padding: 15px;
		 position: fixed;
			bottom: 0;
			width: 2005px;
			height: 20px;
			left: 0;
			opacity: 0.5;
			margin-top: 50px;
			border-radius: 10px;
			text-align: left;
	
	  }
	  
	  /* On small screens, set height to 'auto' for sidenav and grid */
	  @media screen and (max-width: 767px) {
		.sidenav {
		  height: auto;
		  padding: 15px;
		}
		.row.content {height:auto;} 
		}
		
		form {
			text-align: center;
			font-size:12px;
			padding: 35px;
		}
		#contact p,
		label,
		legend {
			font: 1.5em "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
		}
		mark.validate {
			display: inline-block;
			margin: 12px 0 0 10px;
			width: 16px;
			height: 16px;
			background: transparent none;
		}


		.col-sm-6.text-left {
			font-size: 14px;
		}

		.table.table-hover.table-striped {
			font-size: 11px;



		}
		
		.col-sm-3.sidenav {
			height: 1000px;
		
			
		}
		.error{
			color: red;
			font-weight: bold;
		}
